body  {
  max-width: 1250px;
  /* border: 2px solid red; */
}

#average {
  text-align: right;
  font-size: 1.5rem;
  margin-top: auto;
  margin-bottom: auto;
}

/* .col-sm-7, .col-sm-4 {
  border: 2px solid chartreuse;
} */

button  {
  margin-right: 15px
}

.hidden {
  display: none;
}
